{% extends 'base.html' %}
{% block content %}
<div class = "message-box">
    <h2>Chat Room : {{room}}</h2>
    <div class = "messages" id = "messages">
    <div class = "inputs">
    <input type = "text"
        rows = 3
        placeholder = "Enter your Message"
        name = "message"
        id = "message" />
    </div>
    <button type = "button" name = "send" id = "send-btn" onclick="sendMessage()">
        send
    </button>
    </div>
</div>
<script type = "text/javascript">
    var socketio = io();

    const sendMessage = () => {
        console.log("send");
    };
    
</script>
{% endblock %}