{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="title">ENTER THE CHAT ROOM</h2>
    <form method="post" class="loginForm"> 
        <!-- Add action attribute to change where the data needs to be submitted, e.g., action="your_route_url" -->
        <div class="input-group">
            <input type="text" name="name" value="{{name}}" placeholder="Enter your Name!" />
        </div>
        <div class="input-group">
            <input type="text" placeholder="Enter Room Code (if joining)" name="code" value="{{code}}" />
        </div>
        <div class="button-group">
            <button type="submit" name="join" value="1">Join a Room</button>
            <button type="submit" name="create" value="1">Create a Room</button>
        </div>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}
    </form>
</div>
{% endblock %}
